.oopsMessageContainer {
    /* display: flex;
    justify-content: center; */
}

.oopsMessage {
    width: 50%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.savedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.savedCard {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    
}

